<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дегустации</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Добро пожаловать</h1>
    <p>Меня зовут Уайни (в телеграме я <a href="http://t.me/WineyTheBot">@WineyTheBot</a>),
        здесь я буду показывать все, что вы запишете через чат со мной.</p>
    <p>Но потом... Подождите пожалуйста, я все расскажу,
        как у создателя появится чуть больше времени, чтобы все закончить.</p>
</body>
</html>
